---
---

@import "{{ site.theme }}";

a {
  color: #3300ff;
}

.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

img[src*="demo"] {
  border: 1px #eee solid;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
}

@media only screen and (min-width: 1170px) {
  img[src*="demo"] {
    max-width: 130%;
    margin-left: -15%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.wikilink:before {
  content: "[[";
  opacity: 0.5;
}

.wikilink:after {
  content: "]]";
  opacity: 0.5;
}

.github-only {
  display: none;
}

.announcement {
  background: #ede7ff;
  padding: 4px 16px;
  color: black;
  border-radius: 4px;
}

/* Admonition Text Blocks Styling */
.admonition {
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid;
  border-radius: 4px;
  background-color: #f9f9f9;

  p {
    margin: 0;
  }

  /* Specific styles for different types */
  &.note {
    border-color: #2196F3;
    /* Blue */
    background-color: #e3f2fd;
  }

  &.tip {
    border-color: #4CAF50;
    /* Green */
    background-color: #e8f5e9;
  }

  &.warning {
    border-color: #FFEB3B;
    /* Yellow */
    background-color: #fffde7;
  }

  &.caution {
    border-color: #f44336;
    /* Red */
    background-color: #ffebee;
  }
}
